[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
coverage = "*"
behave = "*"
flake8 = "*"
pytest-cov = "*"
pre-commit = "*"
requests = "*"


[packages]
flask = "*"
gunicorn = "*"
python-json-logger = "*"
requests = "*"
sealights-python-agent = "2.2.4"
exceptiongroup = "*"

[requires]
python_version = "3.10"